Flask
mysql-connector-python
opencv-python
deepface
chromadb
gpt4all
bcrypt
sentence-transformers
numpy
pandas
scipy
matplotlib
h5py
tensorflow
torch
torchvision
torchaudio
nltk
transformers
tqdm
regex
